Pharos/Pharos.CRM.Retailing/Service References/ServiceReference1/Pharos.Logic.OMS.Entity1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pharos.Logic.OMS.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pharos.Logic.OMS.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductPublishVer">
    <xs:sequence>
      <xs:element name="_x003C_CompanyCount_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_CreateDT_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CreateUID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DataId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DictId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Forced_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_HasDataId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_HasDictId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_HasModelId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_HasRoleId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IsRunSql_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_MenuModuleId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ModuleId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProductDataVer_x003E_k__BackingField" nillable="true" type="tns:ProductDataVer" />
      <xs:element name="_x003C_ProductDictionaryVer_x003E_k__BackingField" nillable="true" type="tns:ProductDictionaryVer" />
      <xs:element name="_x003C_ProductId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ProductModuleVer_x003E_k__BackingField" nillable="true" type="tns:ProductModuleVer" />
      <xs:element name="_x003C_ProductPublishSqls_x003E_k__BackingField" nillable="true" type="tns:ArrayOfProductPublishSql" />
      <xs:element name="_x003C_ProductRoleVer_x003E_k__BackingField" nillable="true" type="tns:ProductRoleVer" />
      <xs:element name="_x003C_ProductUpdateLogs_x003E_k__BackingField" nillable="true" type="tns:ArrayOfProductUpdateLog" />
      <xs:element name="_x003C_PublishDT_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_PublishId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_PublishUID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RoleId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RunSqlWay_x003E_k__BackingField" type="xs:short" />
      <xs:element name="_x003C_Status_x003E_k__BackingField" type="xs:short" />
      <xs:element name="_x003C_UpdateDT_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_UpdateUID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_VerCode_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_VerStatus_x003E_k__BackingField" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductPublishVer" nillable="true" type="tns:ProductPublishVer" />
  <xs:complexType name="ProductDataVer">
    <xs:sequence>
      <xs:element name="_x003C_CreateDT_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CreateUID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DataId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ModuleId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProductDataSqls_x003E_k__BackingField" nillable="true" type="tns:ArrayOfProductDataSql" />
      <xs:element name="_x003C_ProductId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_PublishDT_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_PublishUID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Status_x003E_k__BackingField" type="xs:short" />
      <xs:element name="_x003C_UpdateDT_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_UpdateUID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_VerCode_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_VerStatus_x003E_k__BackingField" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDataVer" nillable="true" type="tns:ProductDataVer" />
  <xs:complexType name="ArrayOfProductDataSql">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDataSql" nillable="true" type="tns:ProductDataSql" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDataSql" nillable="true" type="tns:ArrayOfProductDataSql" />
  <xs:complexType name="ProductDataSql">
    <xs:sequence>
      <xs:element name="_x003C_CreateDT_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CreateUID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DataId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_MenuId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_RunSort_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_RunSql_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDataSql" nillable="true" type="tns:ProductDataSql" />
  <xs:complexType name="ProductDictionaryVer">
    <xs:sequence>
      <xs:element name="_x003C_CreateDT_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CreateUID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DictId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ProductDictionaryDatas_x003E_k__BackingField" nillable="true" type="tns:ArrayOfProductDictionaryData" />
      <xs:element name="_x003C_ProductId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_PublishDT_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_PublishUID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Status_x003E_k__BackingField" type="xs:short" />
      <xs:element name="_x003C_UpdateDT_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_UpdateUID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_VerCode_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_VerStatus_x003E_k__BackingField" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDictionaryVer" nillable="true" type="tns:ProductDictionaryVer" />
  <xs:complexType name="ArrayOfProductDictionaryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDictionaryData" nillable="true" type="tns:ProductDictionaryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDictionaryData" nillable="true" type="tns:ArrayOfProductDictionaryData" />
  <xs:complexType name="ProductDictionaryData">
    <xs:sequence>
      <xs:element name="_x003C_CreateDT_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CreateUID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Depth_x003E_k__BackingField" type="xs:short" />
      <xs:element name="_x003C_DicPSN_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_DicSN_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_DictId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_HasChild_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_SortOrder_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Status_x003E_k__BackingField" type="xs:short" />
      <xs:element name="_x003C_Title_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDictionaryData" nillable="true" type="tns:ProductDictionaryData" />
  <xs:complexType name="ProductModuleVer">
    <xs:sequence>
      <xs:element name="_x003C_CreateDT_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CreateUID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ModuleId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProductId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ProductMenuLimits_x003E_k__BackingField" nillable="true" type="tns:ArrayOfProductMenuLimit" />
      <xs:element name="_x003C_PublishDT_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_PublishUID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Status_x003E_k__BackingField" type="xs:short" />
      <xs:element name="_x003C_UpdateDT_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_UpdateUID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_VerCode_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_VerStatus_x003E_k__BackingField" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductModuleVer" nillable="true" type="tns:ProductModuleVer" />
  <xs:complexType name="ArrayOfProductMenuLimit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductMenuLimit" nillable="true" type="tns:ProductMenuLimit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductMenuLimit" nillable="true" type="tns:ArrayOfProductMenuLimit" />
  <xs:complexType name="ProductMenuLimit">
    <xs:sequence>
      <xs:element name="_x003C_CreateDT_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CreateUID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Depth_x003E_k__BackingField" type="xs:short" />
      <xs:element name="_x003C_Expand_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Memo_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MenuId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ModuleId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PMenuId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ProductId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_SortOrder_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Status_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Title_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Type_x003E_k__BackingField" type="xs:short" />
      <xs:element name="_x003C_Url_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductMenuLimit" nillable="true" type="tns:ProductMenuLimit" />
  <xs:complexType name="ArrayOfProductPublishSql">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductPublishSql" nillable="true" type="tns:ProductPublishSql" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductPublishSql" nillable="true" type="tns:ArrayOfProductPublishSql" />
  <xs:complexType name="ProductPublishSql">
    <xs:sequence>
      <xs:element name="_x003C_CreateDT_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CreateUID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_MenuId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_PublishId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_RunSort_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_RunSql_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductPublishSql" nillable="true" type="tns:ProductPublishSql" />
  <xs:complexType name="ProductRoleVer">
    <xs:sequence>
      <xs:element name="_x003C_CreateDT_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CreateUID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ModuleId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProductId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ProductRoles_x003E_k__BackingField" nillable="true" type="tns:ArrayOfProductRole" />
      <xs:element name="_x003C_PublishDT_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_PublishUID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RoleVerId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Status_x003E_k__BackingField" type="xs:short" />
      <xs:element name="_x003C_UpdateDT_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_UpdateUID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_VerCode_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_VerStatus_x003E_k__BackingField" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductRoleVer" nillable="true" type="tns:ProductRoleVer" />
  <xs:complexType name="ArrayOfProductRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductRole" nillable="true" type="tns:ProductRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductRole" nillable="true" type="tns:ArrayOfProductRole" />
  <xs:complexType name="ProductRole">
    <xs:sequence>
      <xs:element name="_x003C_CreateDT_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CreateUID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Limitids_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProductRoleDatas_x003E_k__BackingField" nillable="true" type="tns:ArrayOfProductRoleData" />
      <xs:element name="_x003C_RoleId_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_RoleVerId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Title_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductRole" nillable="true" type="tns:ProductRole" />
  <xs:complexType name="ArrayOfProductRoleData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductRoleData" nillable="true" type="tns:ProductRoleData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductRoleData" nillable="true" type="tns:ArrayOfProductRoleData" />
  <xs:complexType name="ProductRoleData">
    <xs:sequence>
      <xs:element name="_x003C_HasSelected_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_MenuId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_PMenuId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_RoleDataId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_SortOrder_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductRoleData" nillable="true" type="tns:ProductRoleData" />
  <xs:complexType name="ArrayOfProductUpdateLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductUpdateLog" nillable="true" type="tns:ProductUpdateLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductUpdateLog" nillable="true" type="tns:ArrayOfProductUpdateLog" />
  <xs:complexType name="ProductUpdateLog">
    <xs:sequence>
      <xs:element name="_x003C_CID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_CreateDT_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CreateUID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Creater_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Description_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_PublishId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Status_x003E_k__BackingField" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductUpdateLog" nillable="true" type="tns:ProductUpdateLog" />
</xs:schema>